@model MvcApplication4.Models.mama
@{
    ViewBag.Title = "adminPhoto";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<script>
    var _validFileExtensions = [".mp4"];
    function ValidateSingleInput(oInput) {
        var FileSize = oInput.files[0].size;
        var FileSizeMB = (FileSize / 1048576).toFixed(2);
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }

                if (!blnValid ||(FileSizeMB > 4)) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ") + "You Video size is " + FileSizeMB +" Mb and limit is 4 Mb..");
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }

</script>

<div class="row">
    <div class="span1">
        
        <br />
    </div>
    <div class="span11">
<h1>&nbsp &nbsp &nbsp ADD video to the Video Gallery</h1>

        <br /> <br />
        <form method="post" enctype="multipart/form-data" action="/AdminPanel/adminVideo1" onSubmit="return validate(this);">
        <table>
            <tr>
        <td><label style="font-size:medium">&nbsp &nbsp &nbsp Enter Position(1-8):<br /></label></td>
         <td>@Html.TextBoxFor(m => m.Video.Id, new {   type = "number" }) @Html.ValidationMessageFor(model => model.Video.Id)</td>
                </tr>

            </table>

        <br />
        <br />

        <table>
            <tr>
        <td><label style="font-size:medium">&nbsp &nbsp &nbsp Select Video :<br /></label></td>
         <td>@Html.TextBoxFor(m => m.Video.urlstring, new { type = "file" , name= "file1", onchange="ValidateSingleInput(this);"}) @Html.ValidationMessageFor(model => model.Video.urlstring)<br /></td>
                </tr>

            


            <tr>
                <td><input type="submit" value="Upload"/></td>
            </tr>

            </table>

            </form>

        </div>

    </div>

