@model MvcApplication4.Models.mama
@{
    ViewBag.Title = "vid4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div class="col-md-8">
               
                
   <video autoplay="autoplay"  controls="controls" poster="../images/vimg.jpg" height="400" width="700" id="demo1" style="border:groove;border-color:ghostwhite" >
   
    <source src='@Model.videoList[0].urlstring' type="video/mp4"/> 
       
    
    
  </video>
                
                </div>
	<div class="col-md-4">

        <div class="row-fluid">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s1.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="../Video/vid"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s2.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="../Video/vid1"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s3.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="../Video/vid2"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s4.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="../Video/vid3"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s5.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="../Video/vid4"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s6.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="../Video/vid5"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s7.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="../Video/vid6"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="thumbnail">
          
         <img src="../images/s1.jpg" 
         alt="Generic placeholder thumbnail"/>
      </div>
      <div class="caption">
         <a href="vid7.html"> <p>Click here to watch</p></a>
         
      </div>
            </div>
        </div>

        

	</div>
	</div>


